#sticky-footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    border-top-style: solid;
    border-top-color:#4AAAA5;
    border-top-width: 5px;
  }

.media-body {
    margin-bottom: 75px;
}

.navbar-brand {
  color: white;
  background-color:#4AAAA5;
}

.white {
  color: white;
}

nav, div, a {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
